{% load i18n %}
{% load thumbnail %}

<section id="{{ page.title|slugify }}" class="{{ page.css_class|default_if_none:""}}" style="{% if page.picture and page.picture_location == 'background' %}background-image: url('{{page.picture.url}}'); background-size: contain; background-repeat: no-repeat; background-position: right bottom;{% endif %}{{ page.css_container_style|default_if_none:""}}">
  <div class="section-heading text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% if page.picture and page.picture_location == 'header' %}
            <div class="page-picture">
              <img src="{{ page.picture.url }}" class="img-responsive"></a>
              <h2>{{ page.title }}</h2>
            </div>
          {% else %}
          <h2>{{ page.title }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="section-body">
    <div class="container">
    {% if page.album %}
      {% block page_album %}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="page-album">
            <div id="carousel-{{ page.title|slugify }}" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
              {% for image in page.album.files.all %}
                {% if image.height > 0 %}
                  <li data-target="#carousel-{{ page.title|slugify }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
                {% endif %}
              {% endfor %}
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                {% for image in page.album.files.all %}
                  {% if image.height > 0 %}
                    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                      <img src="{% thumbnail image 800x500 upscale crop subject_location=image.subject_location  %}" class="img-responsive">
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-{{ page.title|slugify }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-{{ page.title|slugify }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    {% endif %}
      <div class="row">
        <div class="content-wrapper col-md-{{ page.content_columns }}">
          {% if page.float_extra_content %}
          {% include "pages/content/extra.html" %}
          {% endif %}
          <div class="page-content">
          {% block section_content %}
          {{ page.content|safe }}
          {% endblock%}
          </div>
        </div>
        {% if not page.float_extra_content %}
        {% include "pages/content/extra.html" %}
        {% endif %}
      </div>
      {% if user.is_staff %}
        <a class="pull-right btn btn-primary btn-xs" href="{% url 'admin:pages_page_change' page.pk %}">{% trans 'Modify this page' %}</a>
      {% endif %}
    </div>
  </div>
</section>
