{% load thumbnail %}
{% if page.picture and page.picture_location == 'extra' or page.extra_content %}
<div class="extra-content-wrapper col-md-{{ page.extra_content_columns }} pull-right">
  {% if page.picture and page.picture_location == 'extra' %}
    <div class="page-picture">
      <img src="{% thumbnail page.picture 450x0 upscale crop subject_location=page.picture.subject_location  %}" class="img-responsive">
      {% if page.picture_description %}
      <p>{{ page.picture_description|safe }}</p>
      {% endif %}
    </div>
  {% endif %}
  {% if page.extra_content %}
  <div class="page-content">
  {{ page.extra_content|safe }}
  </div>
  {% endif %}
</div>
{% endif %}
