body.map-viewer{
  #header-img{
    display: none;
  }
  #subnav{
    position: fixed;
    top: 0;
  }
}

.leaflet-control-coordinates .label{
  color: #444;
  font-size: 100%;
}

.map-wrapper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#map{
  height: 100%;
  overflow: hidden;
}
