{% extends "news/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load mptt_tags %}
{% load thumbnail %}
{% load localeurl_tags %}

{% block title_head %}{{ block.super }}: {{ news.title }}{% endblock %}

{% block title %}
{{ news.title }}
{% endblock %}

{% block extra-heading %}
<div class="news-info">
  {{ news.publish_date|date:"SHORT_DATE_FORMAT" }}
</div>
{% endblock %}

{% block mainclass %}container {{ page.css_class }}{% endblock mainclass%}

{% block breadscrumbs %}
<ol class="breadcrumb">
  {% for node in page.get_ancestors %}
  <li class="{{ node.css_class }}">
    {% if node.container %}
    <a><span>{{ node.title }}</span></a>
    {% else %}
    <a href="{{ node.url|chlocale:LANGUAGE_CODE  }}"><span>{{ node.title }}</span></a>
    {% endif %}
  </li>
  {% endfor %}
  <li ><a href="{% url 'news_category_detail' news.category.slug %}">{{ page.title }}</a>
  </li>
  <li class="active">{{ news.title|truncatechars:70 }}
  </li>
</ol>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-sm-12">
    {% if news.album %}
    <div class="news-album">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for image in news.album.files.all %}
          {% if image.height > 0 %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
          {% endif %}
        {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for image in news.album.files.all %}
            {% if image.height > 0 %}
              <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                <img src="{% thumbnail image 800x500 upscale crop subject_location=image.subject_location  %}" class="img-responsive">
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    {% endif %}
    <div class="news-content">
      {{ news.content|safe }}
    </div>
    <div id="news-more-like-this">
      <!--
        <div class="news-more-like-this">
          <h3 style="display: none;">{% trans "More like this" %}</h3>
        </div>
      -->    
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    {% if news.picture %}
      <img src="{% thumbnail news.picture 250x0 crop %}" class="img-responsive">
    {% endif %}
    <h3>{% trans "Latests news" %}</h3>
    <div class="list-group news-latest-list">
    {% for item in news.category.news_set.latest10 %}
        {% if item != news %}
          <a class="list-group-item" href="{{ item.get_absolute_url }}">
            {% if item.picture %}
              <img src="{% thumbnail item.picture 80x50 crop %}">
            {% endif %}        
            {{ item.publish_date|date:"d-m-Y" }} | {{ item.title|truncatechars:80 }}
          </a>
        {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static "js/vendors/jquery.lazyload-any.min.js" %}"></script>
<script type="text/javascript">
  $(function() {
    $(".navbar li a[href='{% url 'news_category_detail' news.category.slug %}']").parent().addClass('active');
    // Menu active from submenu:
    $('li.active').each(function(){
      var parent = $(this).parent().parent();
      if (parent.get(0).tagName == 'LI' && !parent.hasClass('change-lang')){
        parent.addClass('active');
      }
    });

    function pad(val, len) {
      val = String(val);
      len = len || 2;
      while (val.length < len) val = "0" + val;
      return val;
    };

    // Load more like this    
    $('#news-more-like-this').lazyload({
      // Sets the pixels to load earlier. Setting threshold to 200 causes image to load 200 pixels
      // before it appears on viewport. It should be greater or equal zero.
      threshold: 100,

      // Sets the callback function when the load event is firing.
      // element: The content in lazyload tag will be returned as a jQuery object.
      load: function(element) {
        $.getJSON( "{% url 'news_mlt' news.pk %}", function(data) {
          var items = [];
          if (data.length == 0){
            return;
          }
          for(i=0, l=data.length; i<l; i++){
            var date = new Date(data[i].publish_date);
            pub_date = pad(date.getDate(), 2) + "/" +  pad(date.getMonth() + 1, 2) + "/" + date.getFullYear();
            items.push("<li class='list-group-item'><a href='" + data[i].url +"' title='" + data[i].summary + "'>" + pub_date + " | " + data[i].title +"</a></li>");
          };
         
          $("<ul />", {
            "class": "list-group news-more-like-this-list",
            html: items.join("")
          }).appendTo(element);
          element.find('h3').show();
        });        
      },
    });    

  });
</script>
{% endblock page_js %}
